@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Mukta:300,400&display=swap');

:root {
    --color-menu: #A98675;
    --color-title-header: #F36735;
    --color-title-project: #FFFDFD;
    --color-title-contact: #F03F6A;
    --color-title-detail-card: #79D2CC;
    --color-p: #444444;
    --size-h1: 34px;
    --size-h2: 26px;
    --size-h3: 25px;
    --size-p: 17px;
    --size-p-small: 9px;
    --font-title: 'Montserrat', sans-serif;
    --font-p: 'Mukta', sans-serif;
}

header {
    margin: 20px 80px 50px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}

.logo {
    object-fit: cover;
    width: 50px;
    margin: 20px;
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu-item {
    margin: 30px;
    list-style: none;
    font-family: var(--font-title);
    font-weight: bold; 
    font-size: var(--size-p);   
}

.menu-link {
    color: var(--color-menu);
    text-decoration: none;
}

.menu-link:hover {
    color: var(--color-title-header);
}

.middle-header {
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.sobre {
    display: flex;
    flex-direction: column;
    width: 53%;
}

.title-middle-header {
    font-family: var(--font-title);
    font-size: var(--size-h1);
    color: var(--color-title-header);
}

.text-middle-header {
    font-family: var(--font-p);
    font-size: var(--size-p);
    color: var(--color-p);
}

.img-middle-header {
    object-fit: cover;
    width: 400px;
    margin: 0px 0px 0px 40px;
}