@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Mukta:300,400&display=swap');

:root {
    --color-menu: #A98675;
    --color-title-header: #F36735;
    --color-title-project: #FFFDFD;
    --color-title-contact: #F03F6A;
    --color-title-detail-card: #79D2CC;
    --color-footer: #444444;
    --color-p: #444444;
    --size-h1: 34px;
    --size-h2: 26px;
    --size-h3: 17px;
    --size-p: 17px;
    --size-p-small: 13px;
    --font-title: 'Montserrat', sans-serif;
    --font-p: 'Mukta', sans-serif;
}

/* HEADER */

header {
    padding: 5px 80px 55px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}

.logo {
    object-fit: cover;
    width: 50px;
    margin: 20px;
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu-item {
    margin: 30px;
    list-style: none;
    font-family: var(--font-title);
    font-weight: bold; 
    font-size: var(--size-p);   
}

.menu-link {
    color: var(--color-menu);
    text-decoration: none;
}

.menu-link:hover {
    color: var(--color-title-header);
    font-weight: 800;
}

.middle-header {
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.sobre {
    display: flex;
    flex-direction: column;
    width: 53%;
}

.title-middle-header {
    font-family: var(--font-title);
    font-size: var(--size-h1);
    color: var(--color-title-header);
}

.text-middle-header {
    font-family: var(--font-p);
    font-size: var(--size-p);
    color: var(--color-p);
}

.img-middle-header {
    object-fit: cover;
    width: 400px;
    margin: 0px 0px 0px 40px;
}

/* PROJECTS */

.projects {
    padding: 50px 80px;
    background: var(--color-title-detail-card);
}

.project-title {
    font-family: var(--font-title);
    font-size: var(--size-h2);
    color: var(--color-title-project);
    text-align: center;
}

.row-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 30px 0px;
}

.projects-img {
    object-fit: cover;
    width: 180px;
    margin: 30px;
}

.card {
    background: var(--color-title-project);
    margin: 30px 80px;
    padding: 20px;
    width: 199px;
    height: 326px;
    border-radius: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    text-align: center;
}

.img-card-link:hover {
    
}

.card-img {
    object-fit: cover;
    width: 65px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid var(--color-title-detail-card);
}

.card-title {
    font-family: var(--font-title);
    font-size: var(--size-h3);
    color: var(--color-title-detail-card);
}

.card-text {
    font-family: var(--font-p);
    font-size: var(--size-p-small);
    color: var(--color-p);
    text-align: justify;
    margin: 0px 0px 5px;
}

/* CONTACT */

.contact {
    padding: 50px 80px;
}

.contact-title {
    font-family: var(--font-title);
    font-size: var(--size-h2);
    color: var(--color-title-contact);
    text-align: center;
}

.row-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0px;
}

.contact-text-column {
    display: flex;
    flex-direction: column;
    width: 53%;
}

.contact-text {
    font-family: var(--font-p);
    font-size: var(--size-p);
    color: var(--color-p);
}

.mail {
    font-family: var(--font-p);
    font-size: var(--size-p);
    color: var(--color-p);
    font-weight: bold;
    text-decoration: none;
}

.mail:hover {
    color: var(--color-title-contact);
    font-weight: 800;    
}

.contact-img {
    object-fit: cover;
    width: 230px;
    margin: 5px 0px;
}

/* FOOTER */

footer {
    background: var(--color-footer);
    padding: 20px 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-footer{
    object-fit: cover;    
    height: 25px;
    margin: 0px 20px;
}